body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  background-color: #282c34;
  font-size: 16px;
  min-height: 100vh;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
